helloworld/target/classes/helloworld.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_Configuration" doc:name="HTTP Listener config" doc:id="96045622-79da-4120-8497-c175f52ed7e7" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="helloworldFlow" doc:id="e2843b90-595b-48a7-8896-876d99f462c5" >
		<http:listener doc:name="Listener" doc:id="10834ed3-41b0-4fd5-a0b3-956ae5e23bcc" config-ref="HTTP_Listener_Configuration" path="/sayhello"/>
		<set-payload value='#["HelloWorld"]' doc:name="Set Payload" doc:id="0e0a0bc1-e280-44d7-9e58-c6422468bcfe" />
		<logger level="INFO" doc:name="Logger" doc:id="dc9bb8c3-d29b-4db2-aad7-bf15c0e9ee78" message='#["test"]'/>
	</flow>
</mule>
