practice/src/main/mule/practice.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="763c02df-41e1-4256-8a53-41f94babce32" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="23a59627-534c-4df4-96a3-6e0a57e69c6e" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="1234" database="mule" />
	</db:config>
	<flow name="exercise2" doc:id="b65e8a09-adaf-47bc-b4bc-b4422399e01c" >
		<http:listener doc:name="Listener" doc:id="99c9ab8c-ab4d-4790-8a1b-78898e0e9155" config-ref="HTTP_Listener_config" path="/flight"/>
		<db:select doc:name="Select" doc:id="71fed1e7-a7a8-41dd-83f0-a062b790c6e2" config-ref="Database_Config">
			<db:sql ><![CDATA[select *from americon;]]></db:sql>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="c7478448-7bea-4217-b156-31db94c820bf" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map ( payload01 , indexOfPayload01 ) -> {
	ID: payload01.ID default 0,
	code: (payload01.code2 default "") ++ (payload01.code1 default ""),
	price: payload01.price default 0,
	departureDate: payload01.takeOffDate as String default "",
	origin: payload01.fromAirport default "",
	destination: payload01.toAirport default "",
	emptySeats: payload01.seatAvailable default 0,
	plane: {
		"type": (payload01.planeType default "") ++ (payload01.planeType default ""),
		totalSeats: payload01.totalSeats default 0
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="exercise3" doc:id="c09780c3-f7a2-42e1-b27d-5026eff9bf32" >
		<http:listener doc:name="Listener" doc:id="eea53f04-6181-4063-8c60-1cef00bd5e6d" config-ref="HTTP_Listener_config" path="/flightid"/>
		<db:select doc:name="Select" doc:id="09563be2-8672-48b3-b8ad-c66449e6522e" config-ref="Database_Config">
			<db:sql ><![CDATA[select *from americon WHERE id = :ID;]]></db:sql>
			<db:input-parameters ><![CDATA[#[{'ID':attributes.queryParams.id}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="f4229f6a-e142-4e31-b856-d4a1aaa45d04" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="exercise4" doc:id="ed0cb064-5c3d-4a4c-919a-1179172aa0ac" >
		<http:listener doc:name="Listener" doc:id="28b192a7-a573-4d47-bf7b-946b7c9a32a9" config-ref="HTTP_Listener_config" path="/flight1"/>
		<set-payload value='{"Flight virtually added"}' doc:name="Set Payload" doc:id="3cc2503b-26a0-455c-aa38-fe6c97b4e158" />
	</flow>
	<flow name="exercise5" doc:id="571f7155-9f23-4e6c-a82b-59fed9233c1a" >
		<http:listener doc:name="Listener" doc:id="51070b7f-e2d4-4f86-86fe-c8e53c8d6b8a" config-ref="HTTP_Listener_config" path="/user1"/>
		<db:select doc:name="Select" doc:id="c3e5046a-cf78-466f-aee9-689781d2d769" config-ref="Database_Config">
			<db:sql ><![CDATA[select * from user1;]]></db:sql>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="b567545a-5a19-4203-a3bc-a39b2568aa32" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="exercise6" doc:id="5fefd669-813b-403b-a6f3-c386b0eca879" >
		<http:listener doc:name="Listener" doc:id="6bc482f7-95c1-4988-824f-931e486d591c" config-ref="HTTP_Listener_config" path=" /user1/{name}"/>
		<db:select doc:name="Select" doc:id="ecf78813-ee21-4caa-91de-29b6e6168216" config-ref="Database_Config">
			<db:sql ><![CDATA[select *from user1 WHERE name = :name;]]></db:sql>
			<db:input-parameters ><![CDATA[#[{"name":attributes.uriParams.name}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="1dc54ff2-c07a-44c7-8c28-2ead0f630146" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---

payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
